h2{
    text-align: center;
    color: azure;
    background-color: blue;
    border: 1px solid yellow
    
    
}

/* body{
    background-color: lightgray;
} */

.container{
    border: 1px solid black;
    width: 100%;
    background-color: bisque;
}

